*.mode1
.DS_Store
.svn
*.o
*.log
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
*.xcworkspace
# derived bundles (repository relative)
/Applications/
/Internal/
!Internal/Applications/
/Developer/Applications/
/Developer/Library/
/Developer/Tools/
/Developer/bin/
/Library/Frameworks/
/Library/PrivateFrameworks/
/Library/UnitTests/
/Library/WebServer/
/System/Library/Components/
/System/Library/CoreServices/
/System/Library/Frameworks/
/System/Library/PrivateFrameworks/
/System/Library/PreferencePanes/
/System/Library/Screen\ Savers/
/System/Library/SyncServices/
# separate repositories
/System/Sources/Frameworks
/System/Sources/System/Boot/U-Boot/src/
/System/Sources/System/Boot/makesd
/System/Sources/System/Hardware/
/System/Sources/System/Kernel/Darwin-on-ARM/
/System/Sources/System/Kernel/Linux/src/
/System/Sources/System/Kernel/ObjKernel/
/System/Sources/System/Rootfs/QtMoko/
/System/Sources/System/Rootfs/Replicant/gta04-replicant.git/
/System/Sources/System/Tools/AJZaurusUSB/
/System/Sources/System/Tools/Xtoolchain/
/System/Sources/System/Tools/ZMacSync/
